* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 50px;
  background-color: #ff9a4b;
  width:100%;
}

main {
  width: 960px;
  margin: 50px auto;
  display: flex;
  flex: 1;
}

.section {
  width: 300px;
  padding: 10px;
  margin-right: 30px;
  position: relative;
  background-color: #eee;
  
}

.section:last-child {
  margin-right: 0;
}

.section-step {
  position: absolute;
  background-color: #ff9a4b;
  padding: 3px;
  top:0;
  left: 0;
  color: white;
}

.section-img {
  height: 150px;
  width: 280px;
  background-position: bottom;
  background-size: cover;
}

.section h3 {
  margin-top: 15px;
  margin-bottom: 5px;
}
footer {
  background-color: #aaa;
  height: 50px;
}

@media screen and (max-width: 425px) {
  header {
    width: 100vw;
  }

  main {
    display: block;
    width: 90vw;
    margin-top: 50px;
    margin-bottom: 50px;
 
  }

  .section {
    margin-left : auto;
    margin-right: auto;
    width: 90%;
  

  }

  .section:first-child,
  .section:nth-child(2) {
    margin-bottom: 20px;
  }

  .section:last-child {
    margin: 0 auto ;
  }
  .section-img {
    height: 150px;
    width:100%;
   margin: 0;
  }

  footer {
    width: 100%;
  }
}